.richEditor-agendaItem {
    padding: 24px;
    border-radius: 4px;
    background-color: white;
}

.richEditor-agendaItem:not(:last-child) {
    margin-bottom: 12px;
}

.richEditor-button {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    background-color: white;
}

.ProseMirror-focused {
    outline: none;
}

.richEditor-content {
    position: relative;
}

.ProseMirror-widget {
    top: 0px;
    left: 0px;
    color: #9DA3AB;
    position: absolute;
    pointer-events: none;
}

/* ===================================== */

body {
    margin: 0px;
    padding: 0px;
}

.App {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    display: flex;
    background-color: #f4f5f6;
}

.leftContainer, .rightContainer {
    flex: 1;
    min-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

/* ===================================== */
.ly-editor_container {
    width: 100%;
}

.ly-editor_content {
    height: 200px;
    padding: 15px;
    background-color: white;
}

.ly-editor_tooltip {
    padding: 5px;
    display: flex;
    font-size: 14px;
    background-color: rgb(170, 170, 170);
}

.ly-editor_tooltip a {
    display: block;
    min-width: 27px;
    text-align: center;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    background-color: white;
}

.ly-editor_tooltip a:not(:last-child) {
    margin-right: 10px;
}

.richEditor-agendaItem {
    position: relative;
}

.agenda-dragHandler {
    top: 0px;
    left: -24px;
    color: gray.100;
    cursor: pointer;
    position: absolute;
}

.agenda-dragHandler:hover {
    color: gray.900;
}

/* AgendaHeader */
.richEditor-agendaHeader {
    padding-bottom: 12px;
}

.agenda-header {
    display: flex;
    align-items: center;
}

.agenda-icon_title {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.agenda-title {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

.agenda-selectTime {
    padding: 3px 8px;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 4px;
    background-color: rgb(242, 242, 242);
}