/* =================================== */
.ly-editor_container {
  width: 100%;
}
.ly-editor_content {
  height: 500px;
  padding: 15px;
  margin-right: 15px;
  background-color: white;
}
.ly-editor_tooltip {
  background-color: white;
}

.ly-editor_tooltip a:not(:last-child) {
  margin-right: 15px;
}